.feed-list
  width: 100%
  &__title
    font-size: 36px
    color: #ffffff
    text-align: center
    font-family: 'Exo2', sans-serif
    margin-bottom: 25px

  &__container
    overflow: hidden

  &__container-inner
    margin-left: -40px
    margin-right: -40px
    display: flex

  &__item
    padding-left: 40px
    padding-right: 40px
    width: (100% / 3)